{{#view Todos.TodosNewView}}
  <form>
    <div id="todo-create-input-wrap">
      {{createTodoInput name}}
    </div>
  </form>
{{/view}}
<ul>
{{#each todos}}
  <li>
    {{#link-to "todo" this}}{{title}}{{/link-to}}
  </li>
{{/each}}
</ul>
{{outlet}}
</div>