#drawer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #333;
  overflow: auto;
  li {
    border-top: 1px dotted #555;
    border-bottom: 1px dotted #000;
    position: relative;
    a,
    span {
      display: block;
      height: 30px;
      font-family: Helvetica, Arial;
      font-size: 16px;
      font-weight: normal;
      line-height: 32px;
      color: #fff;
      padding: 5px 15px;
      text-shadow: 0 0 2px #000;
      cursor: pointer;
    }
    .js-delete {
      font-family: Helvetica, Arial, sans-serif;
      color: #555;
      position: absolute;
      top: 6px;
      right: 10px;
      padding: 5px;
      cursor: pointer;
    }
    &:hover {
      background: #fff;
      a {
        color: #333;
        text-shadow: none;
      }
      span {
        background: #333;
      }
      .js-delete {
        color: #aaa;
        &:hover {
          color: #d90000;
        }
      }
    }
    &.selected,
    &.selected:hover {
      background: red;
      a {
        color: #fff;
        text-shadow: 0 0 2px #000;
      }
    }
  }
}

#content {
  position: absolute;
  left: 20%;
  top: 0;
  height: 100%;
  background: #066794;
  padding: 15px 0;
}
#content ul {
  margin: 15px 30px;
  li {
    margin: 0 0 5px 0;
    a {
      display: block;
      background: #fff;
      border-radius: 6px;
      padding: 10px 15px;
      color: #333;
      font-size: 16px;
      font-family: Helvetica, Arial, sans-serif;
    }
  }
}
#todo-create-input-wrap {
  margin: 0 30px;
  input {
    color: #fff;
    width: 100%;
    text-indent: 15px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.5);
    background: transparent;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    -webkit-box-shadow:inset 0 0 10px 5px rgba(255,255,255,0.15);
    box-shadow:inset 0 0 10px 5px rgba(255,255,255,0.15);
    &:focus {
      border-color: rgba(255,255,255,0.7)
    }
  }
}
#todo-create-input {

}
.group-edit {
  display: none;
  height: 38px;
  border: 0;
  font-size: 16px;
  line-height: 40px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  text-indent: 15px;
}
